<div class='container-fluiid bg-white'>
  
  <h3 class='text-primary-dark'>Membership Records</h2>
  <p id="notice" class='bg-white'><%= notice %></p>
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope='col'>Membership ID</th>
        <th scope='col'>Membership scheme</th>
        <th scope='col'>Membership level</th>
        <th scope='col'>Add ons</th>
        <th scope='col'>Membership level type</th>
        <th scope='col'>Membership status</th>
        <th scope='col'>Start date</th>
        <th scope='col'>End date</th>

      </tr>
    </thead>

    <tbody>
      <% @membership_records.each do |membership_record| %>
        <tr>
          <td><%= membership_record.membership_id %></td>
          <td><%= membership_record.membership_scheme %></td>
          <td><%= membership_record.membership_level %></td>
          <td><%= membership_record.add_ons %></td>
          <td><%= membership_record.membership_level_type %></td>
          <td><%= membership_record.membership_status %></td>
          <td><%= membership_record.start_date.strftime("%m/%d/%y") %></td>
          <td><%= membership_record.end_date.strftime("%m/%d/%y") %></td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= will_paginate @membership_records, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
</div>