<div class='container-fluiid bg-white'>
  <div class='inner-container'>
    <% if notice %>
      <p id="notice" class='bg-white'><%= notice %></p>
    <%end %>

  <h2  class="text-primary-dark">Donation Programs</h2>
  <p id="notice" class='bg-white'><%= notice %></p>

  <table class="table table-bordered table-hover table-sm sortable">
    <thead>
      <tr>
        <th scope='col'>Program ID</th>
        <th scope='col'>Program Name</th>
      </tr>
    </thead>

    <tbody>
      <% @donation_programs.each do |donation_program| %>
        <tr>
          <td><%= donation_program.donation_program_id %></td>
          <td><%= donation_program.program %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @donation_programs, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  </div>
</div>