<table class="table table-bordered table-hover">
<thead>
  <tr>
    <th scope="col">LookupID</th>
    <th scope="col">Name</th>
    <th scope="col">Last/Group Name</th>
    <th scope="col">Email</th>
    <th scope="col">Phone</th>
    <th scope="col">Address</th>
    <th scope="col">Membership</th>
    <th scope="col">Membership Level</th>


   
  </tr>
</thead>

<tbody>
  <% @unclean_constituents.each do |constituent| %>
    <tr data-link="<%= constituent_path(constituent)%>">
      <td><%= constituent.lookup_id  || "N/A"%></td>
      <td><%= constituent.name || "N/A"%></td>
      <td><%= constituent.last_group|| "N/A" %></td>
      <td><%= constituent.email_id || "N/A" %></td>
      <td><%= constituent.phone || "N/A"%></td>
      <td><%= constituent.current_address || "N/A" %> </td>
      <td><%= constituent.current_membership_scheme || "N/A"%> </td>
      <td><%= constituent.current_membership_level || "N/A" %></td>
      
    </tr>
  <% end %>
</tbody>
</table>