<nav class="navbar navbar-expand-lg bg-dark-gray top-nav">            
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Constituents
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'All', constituents_path, class: "dropdown-item" %>
              <%= link_to 'Individuals', index_individuals_path, class: 'dropdown-item'%>
              <%= link_to 'Households', index_households_path, class: 'dropdown-item'%>
              <%= link_to 'Organizations', index_organizations_path, class: 'dropdown-item'%>
            </div>
            

          </li>

          <li class="nav-item">
              <%= link_to "Events", events_path, class:'nav-link' %>
              
          </li>

          <li class='nav-item'>
            <%= link_to "Membership", membership_records_path, class:'nav-link' %>
          </li>

          <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Donations
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <%= link_to 'Donation History', donation_histories_path, class:'dropdown-item' %>
                  <%= link_to 'Donation Programs', donation_programs_path, class: 'dropdown-item'%>
                </div>
          </li>

          <li class= 'nav-item'>
            <%= link_to 'Contact', contact_histories_path, class: 'nav-link' %>
          </li>


        </ul>

      </div>
</nav>