<div class='nav'>
<div class='row d-flex d-md-block flex-nowrap wrapper mr-auto'>
	
	<nav id="sidebar">
		<div class='sidebar-header logo-brand text-center'>
			<%= link_to image_tag("logos/gradient-logo.png", border: 0, height:65), home_path%>  
		</div>

		<!-- Sidebar Links -->
		<ul class="navbar-nav mr-auto d-flex text-center pl-1">
			
		<li class='nav-item'>
				<%= link_to home_path, class: 'btn nav-link', id:'dashboard-nav-link' do %>
					<i class='material-icons'>developer_board</i>
					<br/>
					Dashboard
				<% end %>
			</li>

			<li class='nav-item'>
				<a href="#" class='btn nav-link'>
					<i class="material-icons">person</i> 
					<br/>
					Account 
				</a>
			</li>

			<li class='nav-item'>
				<%= link_to constituents_path, class:'btn nav-link' do %>
					<i class="material-icons">folder</i>
					<br/>
					Database
				<%end%>
			</li

			<li class='nav-item'>
				<%= link_to import_page_path, class:'btn nav-link' do %>
					<i class="material-icons">input</i>
					<br/>
					Import
				<% end %>
			</li

			<li class='nav-item'>
				<a href='#' class='btn nav-link'>
					<i class="material-icons">flag</i>
					<br/>
					Duplicates
				</a>
			</li>

			<li class='nav-item'>
				<%= link_to users_path, class:'btn nav-link' do %>
					<i class="material-icons">people</i>
					<br/>
					Users
				<%end%>
			</li>

			<li class='nav-item'>
				<a href='#' class='btn nav-link'>
					<i class="material-icons">power_settings_new</i>
					<br/>
					Log Out
				</a>
			</li>

		</ul>


	</nav>


</div>
</div>