
<%= link_to new_user_path, class: 'btn btn-secondary'  do%>
	<i class='material-icons'>person_add</i> Add User
<%end%>

<div class='container d-flex'>
	<div class='card user-table mr-auto'>
  		<!-- active users -->
  		<div class='card-body'>
			<h3 class='card-title'>Active Users</h3>
			<table class='table'>
				<thead>
					<tr>
						<th class='col'>First Name</th>
						<th class='col'>Last Name</th>
						<th class='col'>Email</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<td><%= user.fname %></td>
							<td><%= user.lname %></td>
							<td><%= user.email_id %></td>
							<td><%= link_to 'Edit', edit_user_path(user) %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
  	</div>


	<div class='card mr-auto user-table'>
		<div class='card-body'>
			<!-- inactive users -->
			<h3 class='card-title'>Inactive Users</h3>
			<table class='table'>
				<thead>
					<tr>
						<th class='col'>First Name</th>
						<th class='col'>Last Name</th>
						<th class='col'>Email</th>
					</tr>
				</thead>

  				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= user.fname %></td>
						<td><%= user.lname %></td>
						<td><%= user.email_id %></td>
						<td><%= link_to 'Edit', edit_user_path(user) %></td>
					</tr>
					<% end %>
  				</tbody>
			</table>
		</div>
	</div>
</div>



<br/>


