<div class='bg-dark-gray'>
    <h3 class='text-primary'>My Account</h3>
</div>


<div class = 'container-fluid'>

    <div class='row'>
      <div class= 'col-sm-4'>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
          
            <strong>User Id:</strong>
            <%= @user.id %>
            

          </li>
          <li class="list-group-item">
            <strong>First name:</strong>
            <%= @user.fname %>
          </li>
          <li class="list-group-item">
            <strong>Last name:</strong>
            <%= @user.lname %>
          </li>
          <li class="list-group-item">
            <strong>Email:</strong>
            <%= @user.email_id %>
          </li>
          <li class="list-group-item">
            <strong>Active:</strong>
            <%= @user.active %>
          </li>
        </ul>
      </div>
    
    <div>

  </div>
</div>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>