<!-- use case reports -->

<div class="d-flex">
    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4>Donation History Report</h4>
        </div>
        <div class='card-body'>
            <p>Generate email list of constituents who have not donated since the selected date</p>
            <%= form_tag generate_donation_report_path, remote:true, method: "get" do %>
                <%= date_field_tag 'date', id:"donation-report-datepicker"%>
                <%= submit_tag 'Generate', class:'btn btn-primary'%>
            <% end %>

             
        </div>
    </div> 

    <div class="card bg-white donation-history report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4>Contact History Report</h4>
        </div>
        <div class='card-body'>
            <p>Generate email list of constituents who have not been contacted since the selected date</p>
            <%= form_tag generate_contact_history_report_path, remote:true, method: "get" do %>
                <%= date_field_tag 'date', id:"contact-history-report-datepicker"%>
                <%= submit_tag 'Generate', class: 'btn btn-primary' %>
            <% end %>
        </div>
    </div> 

    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4>Attendance Report</h4>
        </div>
		<div class='card-body'>
			<p> Generate atttendance list for a specific event </p>
			<%= form_tag generate_attendance_report_path, remote: true, method: 'get' do %>
				<%= collection_select :events, :ids, Event.all.chronological, :event_id, 'event_name'%>
				<%= submit_tag 'Generate', class: 'btn btn-primary' %>
			<% end %>
	
		</div>
    </div>
</div>

<!-- Bad Constituent Reports -->
<div class='d-flex'>
    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> Incomplete Names Report </h4>
           
        </div>
        <div class='card-body'>
            <p>Generate report of all unclean constituents with incomplete names </p>
            <%= link_to 'Generate', generate_incomplete_name_constituents_report_path, class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> No Contact Report </h4>
           
        </div>
        <div class='card-body'>
            <p>Generate report of all unclean constituents with no contact information </p>
            <%= link_to 'Generate', generate_no_contact_constituents_report_path, class: 'btn btn-primary' %>
        </div>
    </div>


    
    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> Duplicate Constituents Report </h4>
        </div>
        <div class='card-body'>
            <p>Generate report of all duplicate constituents </p>
            <%= link_to 'Generate', generate_duplicate_constituents_report_path, class: 'btn btn-primary' %>
        </div>
    </div>


</div>

<div class='d-flex'>

    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> All Invalid Constituents Report </h4>
        </div>
        <div class='card-body'>
            <p>Generate report of all invalid constituents </p>
            <%= link_to 'Generate', generate_invalid_constituents_report_path, class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> Invalid Email Report </h4>
        </div>
        <div class='card-body'>
            <p>Generate report of all constituents with invalid email addresses. </p>
            <%= link_to 'Generate', generate_invalid_email_constituents_report_path, class: 'btn btn-primary' %>
        </div>
    </div>

    <div class="card bg-white report-form-wrapper mr-auto">
        <div class='card-header'>
            <h4> Invalid Phone Report </h4>
        </div>
        <div class='card-body'>
            <p>Generate report of all constituents with invalid email addresses. </p>
            <%= link_to 'Generate', generate_invalid_email_constituents_report_path, class: 'btn btn-primary' %>
        </div>
</div>
</div>