<div class='container-fluid'>
  <div class= 'd-flex flex-wrap'>

    <%= render :partial => 'constituent_information_partial' %>
    

    <%= render :partial => 'addresses_partial' %>

    <%= render :partial => 'contact_history_partial' %>

    <%= render :partial => 'membership_record_partial' %>


   
  


  <!-- <div class='d-flex'> -->
    <%= render :partial => 'attendance_partial' %>

    <%= render :partial => 'donation_history_partial' %>
    
    
    

  <!-- </div> -->
  </div>
  <%= link_to 'Back', constituents_path %>
  
</div>



