<div class='container-fluid bg-white'>
<p>
  <strong>Lookup:</strong>
  <%= @constituent.lookup_id %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @constituent.suffix %>
</p>

<p>
  <strong>Title:</strong>
  <%= @constituent.title %>
</p>

<p>
  <strong>Name:</strong>
  <%= @constituent.name %>
</p>

<p>
  <strong>Last group:</strong>
  <%= @constituent.last_group %>
</p>

<p>
  <strong>Email:</strong>
  <%= @constituent.email_id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @constituent.phone %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @constituent.dob %>
</p>

<p>
  <strong>Do not email:</strong>
  <%= @constituent.do_not_email %>
</p>

<p>
  <strong>Duplicate:</strong>
  <%= @constituent.duplicate %>
</p>

<%= link_to 'Back', constituents_path %>

</div>

