<nav class='navbar navbar-expand-lg bg-dark-gray top-nav'>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <h2 class='text-primary'>Import Altru Data</h2>

  </div>
</nav>
<div class='container-fluid'>
    <div class='inner-container'>

<%= form_tag importfile_imports_path, multipart: true do %>
<div class='d-flex card-group'>
    

        <div class='card bg-white import-card mr-auto'>
            <div class='card-header'>
                <h4>CMU Team Constituents Export</h4>
            </div>
            <div class='card-body'>
                <%= file_field_tag :cmuteamconstituentsexport,:required => true, class: 'btn'%>
             </div>
         </div>

         <div class= 'card bg-white import-card mr-auto'>
            <div class='card-header'>
                <h4>CMU Team Donations Export</h4>
            </div>
            <div class='card-body'>
                <%= file_field_tag :cmuteamdonationexport,:required => true, class: 'btn'%>
            </div>
        </div>
</div>

<div class='d-flex card-group'>
        
        <div class= 'card bg-white import-card mr-auto'>
            <div class='card-header'>
                <h4>CMU Team Contact History Export</h4>
            </div>
            <div class='card-body'>
                <%= file_field_tag :cmuteamcommunicationhistoryexport,:required => true, class: 'btn'%>
            </div>
        </div>

        <div class= 'card bg-white import-card mr-auto'>
            <div class='card-header'>
                <h4>CMU Team Constituents Event Export</h4>
            </div>
            
            <div class='card-body'>
                <%= file_field_tag :cmuteameventattendanceexport,:required => true, class: 'btn'%>
            </div>
        </div>
</div>
</br>
<div class='d-flex'>      
        <%= submit_tag "Import Files", class: 'btn btn-primary'%>
    <% end %>
    <div>
        <%= form_tag importdata_imports_path, method: :post do %>
              <%= submit_tag 'Update Data', class: 'btn btn-primary', 'data-toggle' =>'modal', 'data-target' => '#exampleModal' %>
		<% end %>
    </div>

</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class='loader-wrapper'>
        <div class='loader'></div>
        </div>
        <br/>
        <br/>
        <h5 class='text-center'>Loading...</h5>
      </div>
      
    </div>
  </div>
</div>
    </div>
</div>