<div class='card'>
    
    <div class='card-body'>
        <h3 class='card-title text-black-mint'> Import Altru Data </h3>
        <%= form_tag importfile_imports_path, multipart: true do %>
        <%= file_field_tag :file, class: 'btn'%>
        <%= submit_tag "ImportFiles", class: 'btn btn-outline-secondary'%>
        <% end %>
    </div>

    <div>
    	<%= form_tag importdata_imports_path, method: :post do %>
  			<%= submit_tag 'Update Data' %>
		<% end %>
    </div>


</div>
