<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address_id %>
    <%= form.text_area :address_id, id: :address_address_id %>
  </div>

  <div class="field">
    <%= form.label :lookup_id %>
    <%= form.text_area :lookup_id, id: :address_lookup_id %>
  </div>

  <div class="field">
    <%= form.label :address_1 %>
    <%= form.text_area :address_1, id: :address_address_1 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_area :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_area :state, id: :address_state %>
  </div>

  <div class="field">
    <%= form.label :zip %>
    <%= form.text_area :zip, id: :address_zip %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_area :country, id: :address_country %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_area :type, id: :address_type %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date, id: :address_start_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
