<p id="notice"><%= notice %></p>

<h1>Constituent Membership Records</h1>

<table>
  <thead>
    <tr>
      <th>Lookup</th>
      <th>Membership</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituent_membership_records.each do |constituent_membership_record| %>
      <tr data-link="<%= constituent_path(constituent_membership_record.constituent)%>">
        <td><%= constituent_membership_record.lookup_id %></td>
        <td><%= constituent_membership_record.membership_id %></td>
        <td><%= link_to 'Show', constituent_membership_record %></td>
        <td><%= link_to 'Edit', edit_constituent_membership_record_path(constituent_membership_record) %></td>
        <td><%= link_to 'Destroy', constituent_membership_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituent Membership Record', new_constituent_membership_record_path %>
