

<div class="container-fluid  bg-white">

<div class='inner-container'>

  <% if notice %>
    <p id="notice" class='bg-white'><%= notice %></p>
  <%end %>

  <h2  class="text-primary-dark">Search Results</h2>

  <% if @result_unclean_constituents.empty? %>
      <p>Record not found.</p>
  <% else %>




  <table class="table table-bordered table-hover table-sm sortable">
    <thead>
      <tr>
        <th scope="col">LookupID</th>
        <th scope="col">Name</th>
        <th scope="col">Last/Group Name</th>
        <th scope='col'>Duplicate</th>
        <th scope='col'>Incomplete Name</th>
        <th scope='col'>Invalid Phone</th>
        <th scope='col'>Invalid Email</th>
        <th scope='col'>No contact </th>


      </tr>
    </thead>

    <tbody>
      <% @result_unclean_constituents.each do |constituent| %>
        <tr data-link="<%= unclean_constituent_path(constituent)%>">
          <td><%= constituent.lookup_id %></td>
          <td><%= constituent.name %></td>
          <td><%= constituent.last_group %></td>
          <td><%= constituent.duplicate %></td>
          <td><%= constituent.incomplete_names %></td>
          <td><%= constituent.invalid_phones %></td>
          <td><%= constituent.invalid_emails %> </td>
          <td><%= constituent.no_contact%> </td>

        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= will_paginate @result_unclean_constituents, previous_label: "Previous&nbsp;", next_label: "&nbsp;Next" %>
  <% end %>

</div>
</div>
