<!DOCTYPE html>
<html>
  <head>
    <title>PhippsDbVisualizer</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
  
  </head>

  <body>


    <div class='d-flex container-fluid full-height flex-row'>

      <%= render :partial => 'partials/sidenav'%>

  
  
      <div class='container-fluid right-container'>
        <% if @nav_status == 'db' %>
          <%= render :partial => 'partials/db_nav' %>
        <% end %>
        <%= yield %>
      </div>
    </div>
   
  </body>
</html>
